body{
    border: 3px solid;
    border-radius: 20px;
}
#nav-right{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 10%;
}
#search-input{
    width: 270px;
    border-radius: 30px;
    align-items: center;
    padding: 10px;
    background-color: rgb(250,207,207);   
}
#search-learn{
    color: gray;
    position: absolute;
    top: 27%;
    left: 12%;
    text-align: center;
    cursor: pointer; 
}
#search{
    color: gray;
    position: absolute;
    top: 4.0%;
    left: 24%;
    text-align: center;
    cursor: pointer;
}
#nav-left{
   display: flex;
   gap: 50px;
   align-items: center;
}
#banner-content{
    margin-left: 10%;
}
#sign-up-button{
    background: black;
    color: white;
    width: 110px;
    padding: 10px;
    border-radius: 20px;
}
#heading{
    font-size: 30px;
}
#navbar{
    display: flex;
    gap: 30%;;
    background-color: rgb(250,207,207);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#banner{
   display: flex;
   gap: 20%;
   background-color: rgb(250,207,207);

}
#learn-search-input{
    width: 300px;
    padding: 12px;
    border-radius: 30px;
}
#h1{
    font-size: 50px;
}
#count{
    font-size: 40px;
}
.person{
    font-size: 18px;
}
#footer{
    display: flex;
    gap: 20%;
    margin-left: 10%;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media screen and (min-width: 280px) and (max-width: 480px){
    body{
        border: 1px solid;
        border-radius: 20px;
        font-size: 10px;
    }
    #nav-right{
        display: flex;
        gap: 28px;
        align-items: center;
        margin-left: 3%;
    }
    #search-input{
        width: 100px;
        border-radius: 30px;
        align-items: center;
        padding: 7px;
        background-color: rgb(250,207,207); 
        font-size: 5px;  
    }
    #search-learn{
        color: gray;
        position: absolute;
        top: 18.5%;
        left: 9%;
        text-align: center;
        cursor: pointer; 
    }
    #search{
        color: gray;
        position: absolute;
        top: 2.8%;
        left: 43%;
        text-align: center;
        cursor: pointer;
    }
    #nav-left{
        margin-left: 15px;
       display: flex;
       gap: 25px;
       align-items: center;
    }
    #banner-content{
        margin-left: 1%;
    }
    #sign-up-button{
        background: black;
        color: white;
        width: 70px;
        font-size: 10px;
        padding: 5px;
        border-radius: 20px;
        margin-left: 5%;
    }
    #heading{
        font-size: 10px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        gap: 30%;
        background-color: rgb(250,207,207);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #banner{
       display: flex;
       flex-direction: column;
       gap: 5%;
       background-color: rgb(250,207,207);
    
    }
    #learn-search-input{
        width: 150px;
        padding: 8px;
        border-radius: 20px;
        font-size: 10px;
    }
    #vectorimage{
        width: 250px;
        height: 300px;
    }
    #h1{
        font-size: 50px;
    }
    #count{
        font-size: 15px;
    }
    .person{
        font-size: 10px;
    }
    #footer{
        display: flex;
        gap: 10%;
        margin-left: 10%;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    body{
        border: 1px solid;
        border-radius: 20px;
        font-size: 20px;
    }
    #nav-right{
        display: flex;
        gap: 35px;
        align-items: center;
        margin-left: 3%;
    }
    #search-input{
        width: 100px;
        border-radius: 30px;
        align-items: center;
        padding: 7px;
        background-color: rgb(250,207,207); 
        font-size: 5px;  
    }
    #search-learn{
        color: gray;
        position: absolute;
        top: 42.55%;
        left: 6%;
        text-align: center;
        width: 5px;
        cursor: pointer; 
    }
    #search{
        color: gray;
        position: absolute;
        top: 6%;
        left: 47%;
        text-align: center;
        cursor: pointer;
    }
    #nav-left{
        margin-left: 15px;
       display: flex;
       gap: 40px;
       align-items: center;
    }
    #banner-content{
        margin-left: 1%;
    }
    #sign-up-button{
        background: black;
        color: white;
        width: 80px;
        padding: 7px;
        border-radius: 20px;
    }
    #heading{
        font-size: 20px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        gap: 30%;
        background-color: rgb(250,207,207);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #banner{
       display: flex;
       flex-direction: column;
       gap: 5%;
       background-color: rgb(250,207,207);
    
    }
    #learn-search-input{
        width: 170px;
        padding: 8px;
        border-radius: 20px;
        font-size: 10px;
    }
    #vectorimage{
        width: 250px;
        height: 300px;
    }
    #count{
        font-size: 20px;
    }
    .person{
        font-size: 15px;
    }
    #footer{
        display: flex;
        gap: 10%;
        margin-left: 10%;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    body{
        border: 3px solid;
        border-radius: 20px;
        font-size: 20px;
    }
    #nav-right{
        display: flex;
        gap: 50px;
        align-items: center;
        margin-left: 10%;
    }
    #search-input{
        width: 200px;
        border-radius: 30px;
        align-items: center;
        padding: 10px;
        background-color: rgb(250,207,207);   
    }
    #search-learn{
        color: gray;
        position: absolute;
        top: 26.5%;
        left: 12%;
        text-align: center;
        cursor: pointer; 
    }
    #search{
        color: gray;
        position: absolute;
        top: 4.9%;
        left: 25%;
        text-align: center;
        cursor: pointer;
    }
    #nav-left{
       display: flex;
       margin-left: 10%;
       gap: 50px;
       align-items: center;
    }
    #banner-content{
        margin-left: 10%;
    }
    #sign-up-button{
        background: black;
        color: white;
        width: 110px;
        padding: 10px;
        border-radius: 20px;
    }
    #heading{
        font-size: 30px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        gap: 30%;;
        background-color: rgb(250,207,207);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #banner{
       display: flex;
       flex-direction: column;
       gap: 20%;
       background-color: rgb(250,207,207);
    
    }
    #learn-search-input{
        width: 300px;
        padding: 12px;
        border-radius: 30px;
    }
    #h1{
        font-size: 50px;
    }
    #count{
        font-size: 40px;
    }
    .person{
        font-size: 18px;
    }
    #footer{
        display: flex;
        gap: 10%;
        margin-left: 10%;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

}